/* Borrar Margenes Dentro De MI Archivo para que el explorador no de su automatico */
@font-face {
    font-family: 'STNizhegorodsky';
    src: url('Imagen/ST-Nizhegorodsky.ttf') format('truetype');
    /* Agrega aquí las rutas para otros formatos si los tienes (e.g., woff, woff2) */}
  @font-face {
    font-family: 'BeatrixAntiquia';
    src: url('Imagen/BeatrixAntiqua-Bold.ttf') format('truetype');
    /* Agrega aquí las rutas para otros formatos si los tienes (e.g., woff, woff2) */}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Emcabezado*/
.cabezote {
    clear: both;
    background-color: rgba(178, 185, 182, 0.842);
    align-content: center;
    position: fixed;
    padding: 0;
    z-index: 1;
    width: 100%;
    top: 0;
}

.logo {
    background-image: url(Imagen/Final\ Logo.png);
    /*background-image: url(Imagen/Coffe2.jpeg);*/
    width: 90px;/*ancho*/
    height: 10px;/*largo*/
    display: inline-block;
    border-radius: 0%;
    /*Radio De La Info*/
    background-size: 150px;
    /* Cambio Tamaño Imagen */
    image-rendering: 0%;
    opacity: 1;
    margin-top: 8px;
    /*Aplica un margen en la parte superior.*/
    margin-bottom: 0px;
    /*Aplica un margen en la parte inferior.*/
    margin-right: 0px;
    /*Aplica un margen en el lado derecho*/
    margin-left: 10px;
    /*Aplica un margen en el lado izquierdo*/
    padding: 20px;
    background-position: center center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    image-rendering: optimizeQuality;

}

header nav {
    clear: both;
    float: right;
}

.navbar .nav-links ul {
    list-style-type: none;
    padding: 0;
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    clear: both;
    display: inline-block;
    /*Coloca mi codigo en linea*/
    margin-left: 5px;
    /*Aplica un margen en el lado izquierdo*/
    margin-top: 0px;
    /*Aplica un margen en la parte superior.*/
    margin-bottom: 0px;
    /*Aplica un margen en la parte inferior.*/
    margin-right: 5px;
    /*Aplica un margen en el lado derecho*/
    line-height: 50px;
    color: rgb(88, 83, 83);
    /* Cambia el color de texto por defecto */
    transition: color;
    align-self: flex-start;
}

.navbar .nav-links a {
    color: rgb(255, 255, 255);
    /* Cambia el color de texto por defecto */
    transition: color 0.3s;
    /* Agrega una transición suave para el cambio de color */
    text-decoration: none;
    /*Modifica las lineas de mi codigo en los links*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

ul li a:hover {
    color: rgb(209, 90, 54) !important;
    /* Cambia el color de texto al pasar el mouse */
}
/*Fin*/
/* Cuerpo*/
body {
    top: 0;
    clear: both;
    position: relative;
    align-content: center;
    top: 40px;   /*Ubicar elemento quien soy arriba o abajo*/
    left: 0px;
    background-color: rgba(218, 226, 224, 0.795);
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 20px;
    margin-top: 10px;
   
    
}
.Name {
    display:inline-block;
    clear: both;
    font-size: 40px; 
    font-family: 'STNizhegorodsky';
    }
.Eslog{
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-bottom: 5px;
}
.Eslogan{
    top: 0;
    position: initial;
    clear: both;
    font-size: 15px; 
    font-family: 'BeatrixAntiquia';
    margin-left: 140px;
    /*Aplica un margen en el lado izquierdo*/
    margin-top: 0px;
    /*Aplica un margen en la parte superior.*/
    margin-bottom: 2px;
    /*Aplica un margen en la parte inferior.*/
    margin-right: 0px;
    /*Aplica un margen en el lado derecho*/
    }
#division1,
#division2 {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 35%;
    /* Ajusta el ancho de cada división */
    vertical-align: top;
    /* Alinea las divisiones en la parte superior */
    box-sizing: border-box;
    /* Incluye el relleno y el borde en el ancho y alto */
    align-items: center;
}

#division1 {
    background-color: rgba(255, 0, 0, 0.3);
    /* Fondo para la primera división */
}

#division2 {
    background-color: rgba(0, 0, 255, 0.3);
    /* Fondo para la segunda división */
}

.t2 {
    color: rgb(77, 53, 53);
    font-size: 30px;
}

.p2 {
    color: rgb(248, 239, 239);
    font-size: 20px;
    opacity: 1;
}
.Sobremi
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-bottom: 5px; 
    opacity: 0,5;
}
.p1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.695);
    font-size: 20px;
    width: 90%;
    padding: 10px;
    background-color: rgba(241, 244, 247, 0.305);
    text-align: justify;
    border: 2px solid rgba(143, 155, 155, 0.667);
    border-radius: 2px;
    
    
}
.Image
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-bottom: 0px;
}
.imagen
{
    clear: both;
    width: 150px;
    height: 150px;
    background-image: url('Imagen/Yo.jpg');
    background-size: cover;
    border-radius: 60%;
    background-position: center center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    image-rendering: optimizeQuality;
      
}
/* Estilo para el footer */
footer {
    clear: both;
    /*Limpieza Y Genera que las alturas se pongan en cero*/
    background-color: rgb(138, 131, 121);
    margin: auto;
    border: 0;
    padding: 0px;
    opacity: 0.8;
}

/* Estilo para el footer y h3 con clase .p3 dentro de footer */
#p3 {
    color: rgb(2, 2, 2);
    font-size: 30px;
    opacity: 1;
}
/*Rdes Sociales*/
.Ubi/*Ubicacion De Los Icono*/
{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}
  .wp {
    
    background-position: center;   
    background-image: url(Imagen/whatsapp.png);
    /*background-image: url(Imagen/Coffe2.jpeg);*/
     background-size: cover;
    /* Cambio Tamaño Imagen */
    image-rendering:optimizeQuality;
    opacity: 1;
    margin-top: 0px;
    /*Aplica un margen en la parte superior.*/
    margin-bottom: 0px;
    /*Aplica un margen en la parte inferior.*/
    margin-right: 5px;
    /*Aplica un margen en el lado derecho*/
    margin-left: 0px;
    /*Aplica un margen en el lado izquierdo*/
    padding: 10px;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    image-rendering: optimizeQuality;
    
  }
.lk {
    background-position: center;
    background-image: url(Imagen/LinkedIn.png);
    background-size:cover;
    image-rendering: optimizeQuality;
    opacity: 1;
    margin-top: 0px;
    /*Aplica un margen en la parte superior.*/
    margin-bottom: 0px;
    /*Aplica un margen en la parte inferior.*/
    margin-right: 5px;
    /*Aplica un margen en el lado derecho*/
    margin-left: 0px;
    /*Aplica un margen en el lado izquierdo*/
    padding: 10px;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    image-rendering: optimizeQuality;
    
}
.inst {
    background-position: center;
    background-image: url(Imagen/instagram.png);
    background-size:cover;
    image-rendering: optimizeQuality;
    opacity: 1;
    margin-top: 0px;
    /*Aplica un margen en la parte superior.*/
    margin-bottom: 0px;
    /*Aplica un margen en la parte inferior.*/
    margin-right: 5px;
    /*Aplica un margen en el lado derecho*/
    margin-left: 0px;
    /*Aplica un margen en el lado izquierdo*/
    padding: 10px;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    image-rendering: optimizeQuality;
    
}
.Fc {
    background-position: center;
    background-image: url(Imagen/facebook.png);
    background-size:cover;
    image-rendering: optimizeQuality;
    opacity: 1;
    margin-top: 0px;
    /*Aplica un margen en la parte superior.*/
    margin-bottom: 0px;
    /*Aplica un margen en la parte inferior.*/
    margin-right: 5px;
    /*Aplica un margen en el lado derecho*/
    margin-left: 0px;
    /*Aplica un margen en el lado izquierdo*/
    padding: 10px;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    image-rendering: optimizeQuality;
    
}
.Tw {
    background-position: center;
    background-image: url(Imagen/Twiter.png);
    background-size:cover;
    image-rendering: optimizeQuality;
    opacity: 1;
    margin-top: 0px;
    /*Aplica un margen en la parte superior.*/
    margin-bottom: 0px;
    /*Aplica un margen en la parte inferior.*/
    margin-right: 5px;
    /*Aplica un margen en el lado derecho*/
    margin-left: 0px;
    /*Aplica un margen en el lado izquierdo*/
    padding: 10px;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    image-rendering: optimizeQuality;
    
}

